$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
header {
    background-color: wheat;
    height: 100px;
}

.fas.fa-building {
    cursor: pointer;
    font-size: 18pt;
    color: red;
    position: absolute;

    @include sp {
        font-size: 10pt;
    }
}

.fas.fa-utensils {
    cursor: pointer;
    font-size: 14pt;
    color: green;
    position: absolute;

    @include sp {
        font-size: 6pt;
    }
}

.fas.fa-store {
    cursor: pointer;
    font-size: 14pt;
    color: blue;
    position: absolute;

    @include sp {
        font-size: 8pt;
    }
}


main {

    #mask {
        z-index: 20;
        position: absolute;
        width: 900px;
        height: 600px;
        background-color: white;
        opacity: 0.8;

        @include sp {
            width: 370px;
            height: 465px;
        }
    }

    #mask.hidden {
        top: -800px;
    }

    #menu {
        font-size: 24pt;
        position: absolute;
        left: 20px;
    }

    #sideMenu {
        z-index: 30;
        background-color: #fff;
        position: absolute;
        left: 125px;
        width: 180px;
        height: 540px;

        @include sp {
            left: 2px;
            width: 90px;
            height: 430px;
        }

        .item {
            border: 2px solid skyblue;
            text-align: center;
            height: 50px;
            width: 140px;
            padding: auto;

            @include sp {
                height: 40px;
                width: 80px;
                font-size: 10pt;
            }
        }

        #center {
            color: red;

            @include sp {
                font-size: 9pt;
            }
        }

        #food {
            color: green;

            @include sp {
                font-size: 9pt;
            }
        }

        #store {
            color: blue;

            @include sp {
                font-size: 9pt;
            }
        }
    }

    #sideMenu.hidden {
        top: -800px;
    }

    .map {
        z-index: 10;
        position: relative;
        width: 900px;
        height: 600px;
        background-size: 900px 600px;
        margin: auto;
        background-image: url("#{$imgDir}bgMap.png");

        @include sp {
            width: 380px;
            height: 430px;
            background-size: 380px 430px;
        }

        #itnav {
            top: 355px;
            left: 595px;

            @include sp {
                top:262px;
                left:250px;
            }
        }

        #eyetopia {
            top: 455px;
            left: 484px;

            @include sp {
                top: 330px;
                left: 205px;
            }
        }

        #kawabay {
            top: 450px;
            left: 590px;

            @include sp {
                top: 325px;
                left: 250px;
            }
        }

        #three {
            top: 275px;
            left: 633px;

            @include sp {
                top: 200px;
                left: 270px;
            }
        }


        #irori {
            color: red;
            top: 344px;
            left: 569px;

            @include sp {
                top:251px;
                left:239px;
            }
        }


        #station {
            top: 110px;
            left: 250px;

            @include sp {
                font-size: 10pt;
                top:87px;
                left:100px;
            }
        }


        #station {
            top: 110px;
            left: 250px;

            @include sp {
                font-size: 10pt;
                top: 87px;
                left: 100px;
            }
        }

        #cityHall {
            color: blue;
            top: 195px;
            left: 195px;

            @include sp {
                font-size: 10pt;
                top: 135px;
                left: 80px;
            }
        }

        #seven {
            top: 147px;
            left: 385px;

            @include sp {
                top: 109px;
                left: 160px;
            }
        }

        #familymart {
            top: 115px;
            left: 515px;

            @include sp {
                top: 87px;
                left: 212px;
            }
        }

        #ministop {
            top: 240px;
            left: 485px;

            @include sp {
                top: 170px;
                left: 205px;
            }
        }
        
        #lowSon {
            top: 285px;
            left: 550px;

            @include sp {
                top: 205px;
                left: 230px;
            }
        }

        #drug {
            top: 380px;
            left: 550px;

            @include sp {
                top: 280px;
                left: 230px;
            }
        }

        #moriya {
            top: 440px;
            left: 465px;

            @include sp {
                top: 320px;
                left: 193px;
            }
        }

        #makiishi {
            top: 325px;
            left: 545px;

            @include sp {
                top: 235px;
                left: 230px;
            }
        }

        #hibari {
            top: 415px;
            left: 480px;

            @include sp {
                top: 297px;
                left: 197px;
            }
        }

        #gingyokusui {
            top: 415px;
            left: 445px;

            @include sp {
                top: 310px;
                left: 180px;
            }
        }

        #sahara {
            top: 440px;
            left: 425px;

            @include sp {
                top: 324px;
                left: 177px;
            }
        }

        #nodaya {
            top: 480px;
            left: 425px;

            @include sp {
                top: 345px;
                left: 180px;
            }
        }

        #genki {
            top: 480px;
            left: 575px;

            @include sp {
                top: 345px;
                left: 240px;
            }
        }

        #marumiya {
            top: 530px;
            left: 840px;

            @include sp {
                top: 370px;
                left: 354px;
            }
        }

        #syenron {
            top: 205px;
            left: 262px;

            @include sp {
                top: 148px;
                left: 110px;
            }
        }

        #tenkuan {
            top: 270px;
            left: 425px;

            @include sp {
                top: 198px;
                left: 181px;
            }
        }
        
        #nigonbo {
            top: 413px;
            left: 372px;

            @include sp {
                top: 305px;
                left: 153px;
            }
        }

        #dacha {
            top: 322px;
            left: 475px;

            @include sp {
                top: 234px;
                left: 196px;
            }
        }

        #hukko {
            top: 460px;
            left: 425px;

            @include sp {
                top: 355px;
                left: 180px;
            }
        }

        #disco {
            top: 415px;
            left: 545px;

            @include sp {
                top: 300px;
                left: 230px;
            }
        }

        #tarutaru {
            top: 240px;
            left: 555px;

            @include sp {
                top: 185px;
                left: 233px;
            }
        }

        #pointData {
            position: absolute;
            background-color: white;
            z-index: 40;
            width: 600px;
            height: 300px;
            top: 110px;
            left: 190px;
            display: flex;

            @include sp {
                width: 300px;
                height: 200px;
                top: 50px;
                left: 30px;
            }

            .pic {
                width: 330px;
                height: 300px;

                @include sp {
                    width: 210px;
                    height: 200px;
                }

                img {
                    padding-top: 35px;
                    padding-left: 50px;

                    @include sp {
                        padding-left: 0px;
                    }
                }
            }

            .info {
                width: 270px;
                height: 300px;

                ul {
                    padding-top: 35px;
                    padding-left: 15px;

                }

                li {
                    list-style-type: disc;
                    font-size: 16pt;
                    margin-bottom: 10px;

                    @include sp {
                        font-size: 10pt;
                        margin-bottom: 4px;
                    }
                }
            }
        }

        #pointData.hidden {
            top: -800px;

        }
    }
}

footer {
    background-color: wheat;
    height: 50px;
}